name: Build for iOS

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build GL4ES
        run: |
          git submodule update --init --recursive
          wget https://github.com/leetal/ios-cmake/raw/master/ios.toolchain.cmake
          cmake -B build -G Xcode -DCMAKE_TOOLCHAIN_FILE=ios.toolchain.cmake -DDEFAULT_ES=2 -DSTATICLIB=OFF -DPLATFORM=OS64 -DENABLE_BITCODE=FALSE  -DCMAKE_XCODE_ATTRIBUTE_CODE_SIGNING_REQUIRED="NO" -DCMAKE_XCODE_ATTRIBUTE_CODE_SIGNING_ALLOWED=NO -DCMAKE_XCODE_ATTRIBUTE_CODE_SIGN_IDENTITY=""
          cmake --build build --config Release --target ng_gl4es
          ls

      - name: Upload lib
        uses: actions/upload-artifact@main
        with:
          name: libNG-GL4ES-iOS
          path: buid/*
          
